.container{
    background-color: #ffffff;
}
.subtitle{
    font-weight: bold;
    color: black;
}
.textSet2{
    color: #5e5d5d;
}
.deco{
    text-decoration: none;
}
.title{
    font-weight: bolder;
}
.capital{
    text-transform: uppercase;
}

.set{
    padding-right: 5px;
    padding-left: 5px;

}