.container{
    background-color: #ffffff;
}

.subtitle{
    font-weight: bold;
    color: black;
}

.textSet{
    color: black;
}

.textSet2{
    color: gray;
}
.deco{
    text-decoration: none;
}

.title{
    font-weight: bolder;
}

.pos{
    display: flex;
    justify-content: center;
    margin: 12px;
}

.capital{
    text-transform: uppercase;
}